/* General Styles */
.section-container {
  display: flex;
  flex-flow: column;
  padding: 44px 90px;
  background-color: #000000;
  color: #ffffff;
}

.button {
  padding: 12px 32px;
  font-family: Lexend, sans-serif;
  font-weight: 500;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 50px;
  font-size: 16px;
}

/* Header Styles */
.section-container .header-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.section-container .header-container ul {
  display: flex;
  flex-flow: row;
  gap: 24px;
}

.section-container .header-container a {
  font-family: Lexend, sans-serif;
  color: #ffffff;
}

/* Content Introduction Styles */
.content-introduction {
  display: flex;
  flex-flow: column;
  gap: 90px;
  padding: 64px 0;
}

.content-introduction.gap {
  gap: 44px;
}

.content-introduction.methods {
  display: flex;
  align-items: start;
  flex-flow: row;
  gap: 0px;
}

.content-introduction .header-introduction {
  display: flex;
  align-items: center;
}

.content-introduction .header-introduction.end {
  align-items: end;
}

.content-introduction .header-introduction.methods {
  align-items: end;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 64px;
}

.content-introduction .header-introduction-section {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 14px;
}

.content-introduction .header-introduction-section .title-span {
  font-size: 40px;
}

.content-introduction .header-introduction .header-introduction-section h1 {
  font-family: Lexend, sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 42px;
}

.content-introduction .header-introduction p {
  width: 100%;
  font-family: Lexend, serif;
  font-weight: 500;
  font-style: italic;
  color: #94a3b8;
  font-size: 24px;
}

.content-introduction .header-introduction-section span {
  font-size: 24px;
  color: #51bbaa;
  font-family: Merriweather, serif;
  font-weight: 900;
  font-style: italic;
}

.content-introduction .image-container img {
  filter: drop-shadow(0px -156px 250px rgba(81, 187, 170, 0.43));
}

/* Grid Reports Styles */
.grid-reports {
  display: flex;
  align-items: start;
  gap: 64px;
}

.report {
  display: flex;
  flex-flow: column;
  gap: 24px;
  padding: 32px 0px;
  border-top: 1px solid #3f3f46;
}

.report .report-title {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}

.report span {
  color: #51bbaa;
  font-family: Merriweather;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.report p {
  color: #94a3b8;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Steps Styles */
.steps-container {
  width: 100%;
}

.steps {
  width: 614px;
}

.step {
  display: flex;
  padding: 32px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-top: 1px solid #3f3f46;
}

.step p {
  color: #94a3b8;
  font-family: Inter;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

/* Column Content Styles */
.column-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.column-title {
  color: #fff;
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.column-link {
  color: #94a3b8;
  font-family: Inter;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

/* Partners Photos Styles */
.partners-photos-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 24px;
}

/* Footer Styles */
.footer-container .footer-content {
  display: flex;
  align-items: start;
  padding-bottom: 12rem;
}

.footer-container .column-footer-container {
  width: 100%;
  display: flex;
  gap: 24px;
}

.footer-bottom {
  color: #94a3b8;
  font-family: Inter;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
